.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  border-spacing: 0;
}

.table-container::-webkit-scrollbar {
  height: 6px;
}

.table-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
