
 <h2>{{ 'attendance.report-title' | translate }}</h2>
<h3>{{ 'attendance.report-subtitle1' | translate }}</h3>

<div class="filters-row">
  <app-attendance-class-select (classChanged)="onClassChanged($event)"></app-attendance-class-select>

  <app-attendance-student-select (studentChanged)="onStudentChanged($event)"></app-attendance-student-select>

  <app-attendance-date-range-picker (dateRangeChanged)="onDateRangeChanged($event)"></app-attendance-date-range-picker>

  <button mat-flat-button (click)="onSearchReport()">
    <mat-icon>search</mat-icon>
    {{ 'attendance.search' | translate }}
  </button>

</div>

<h3>{{ 'attendance.report-subtitle2' | translate }}</h3>

  <ng-container *ngIf="hasSearched && dataSource.data.length > 0; else noResults">
    <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 full-width-table">

      <!-- DNI Column -->
      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef>{{ 'student.form.dni' | translate }}</th>
        <td mat-cell *matCellDef="let row">{{ row.dni }}</td>
      </ng-container>

      <!-- Student Name Column -->
      <ng-container matColumnDef="studentName">
        <th mat-header-cell *matHeaderCellDef>{{ 'attendance.attendance-student' | translate }}</th>
        <td mat-cell *matCellDef="let row">{{ row.studentName }}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>{{ 'attendance.attendance-status' | translate }}</th>
        <td mat-cell *matCellDef="let row">{{ row.status }}</td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>{{ 'attendance.attendance-date' | translate }}</th>
        <td mat-cell *matCellDef="let row">{{ row.date }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns" class="table-header-blue"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>


    </table>
    <mat-paginator [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons>

    </mat-paginator>
    </div>
  </ng-container>
  <ng-template #noResults>
    <p class="no-results-message">{{ 'attendance.no-search-message' | translate }}</p>
  </ng-template>




