:host {
  display: block;
  height: 100vh;
}

app-header-content {
  height: 64px;
  display: block;
}

.drawer-container {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  background-color: var(--color-accent-4);
}

.drawer {
  width: 260px;
  background-color: var(--color-accent-4);
  border-radius: 0 12px 12px 0;
  overflow: hidden;
}

.main-content {
  background-color: var(--color-accent-4);
  height: 100%;
  overflow-y: auto;
}

.content-wrapper {
  margin: 2rem;
  padding: 1.5rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  min-height: calc(100vh - 100px - 2rem);
  box-sizing: border-box;
}
