<mat-nav-list class="side-nav">

    <h3 class="side-nav-title">Categorías</h3>

    @for (option of navOptions; track option.label) {
        <a mat-list-item [routerLink]="option.route">
            <mat-icon matListItemIcon>{{ option.icon }}</mat-icon>
            <span matListItemLine>{{ option.label }}</span>
        </a>
    }

    <mat-divider />

  <mat-list-item (click)="onLogout()">
    <mat-icon matListItemIcon>logout</mat-icon>
    <span matListItemLine>Salir</span>
  </mat-list-item>



</mat-nav-list>
