<mat-card class="organization-profile-card">
  <img src="../../../../../public/assets/logos/demy-white-logo.png" alt="Logo" class="org-logo" />

  <div class="org-info">
    <div class="info-row">
      <label>Admin:</label>
      <span>Gerardo</span>
    </div>
    <div class="info-row">
      <label>Nombre:</label>
      <span>ImpactAcademy</span>
    </div>
    <div class="info-row">
      <label>Descripción:</label>
      <span>Academia de alto impacto</span>
    </div>
  </div>
</mat-card>
