.row-container {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap; /* por si en móviles deben ir uno debajo del otro */
  margin-bottom: 2rem;
}


.save-button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
