<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>{{ 'finance.table.date' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.date | date:'dd/MM/yyyy' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>{{ 'finance.table.type' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ ('finance.type.' + (element.type?.toLowerCase() || '')) | translate }}
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>{{ 'finance.table.category' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ ('finance.category.' + (element.category?.toLowerCase() || '')) | translate }}
      </td>
    </ng-container>

    <ng-container matColumnDef="concept">
      <th mat-header-cell *matHeaderCellDef>{{ 'finance.table.concept' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ getTranslatedConcept(element) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>{{ 'finance.table.amount' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.payment?.currency }} {{ element.payment?.amount | number: '1.2-2' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="paymentMethod">
      <th mat-header-cell *matHeaderCellDef>{{ 'finance.table.paymentMethod' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ ('finance.method.' + (element.payment?.method?.toLowerCase() || '')) | translate }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<div class="totals-container">
  <div class="total-item income">
    <strong>{{ 'finance.table.totalIncome' | translate }}</strong>
    <div class="totals-by-currency">
      <div>S/ {{ totalIncomePEN() | number: '1.2-2' }}</div>
      <div>USD {{ totalIncomeUSD() | number: '1.2-2' }}</div>
    </div>
  </div>
  <div class="total-item expense">
    <strong>{{ 'finance.table.totalExpense' | translate }}</strong>
    <div class="totals-by-currency">
      <div>S/ {{ totalExpensePEN() | number: '1.2-2' }}</div>
      <div>USD {{ totalExpenseUSD() | number: '1.2-2' }}</div>
    </div>
  </div>
</div>


