<div class="reset-page">
  <div class="reset-box mat-elevation-z4">

    <div class="top-bar">
      <app-language-switcher class="custom-color"></app-language-switcher>
    </div>

    <h1 class="title">{{ 'reset-password.title' | translate }}</h1>

    <mat-form-field appearance="fill" class="email-input">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" type="email" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="password-input">
      <mat-label>{{ 'reset-password.newPassword' | translate }}</mat-label>
      <input matInput [(ngModel)]="newPassword" type="password" />
    </mat-form-field>

    <button mat-raised-button color="primary" class="reset-btn" (click)="resetPassword()">
      {{ 'reset-password.button' | translate }}
    </button>

    <button mat-stroked-button class="back-btn" (click)="goBack()">
      {{ 'reset-password.back' | translate }}
    </button>

  </div>
</div>

