<div>
  <h1>{{ 'view-teachers.title' | translate }}</h1>
</div>

<div class="table-wrapper">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'view-teachers.table.fullName' | translate }}
      </th>
      <td mat-cell *matCellDef="let teacher">{{ teacher.fullName }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'view-teachers.table.email' | translate }}
      </th>
      <td mat-cell *matCellDef="let teacher">{{ teacher.email }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'view-teachers.table.actions' | translate }}
      </th>
      <td mat-cell *matCellDef="let teacher">
        <button mat-icon-button (click)="onEditItem(teacher)" [matTooltip]="'common.edit' | translate">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onDeleteItem(teacher)" [matTooltip]="'common.delete' | translate">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]"
                 [pageSize]="5"
                 showFirstLastButtons>
  </mat-paginator>
</div>

<div class="action-buttons">
  <button mat-raised-button color="primary" (click)="onNewTeacher()">
    <mat-icon>add_circle</mat-icon>
    {{ 'view-teachers.button.new-teacher' | translate }}
  </button>
</div>
