@if (isMobile()) {
  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer class="drawer" mode="over">
      <app-side-navigation-bar (logout)="logout()" />
    </mat-drawer>

    <app-header-content
      [isMobile]="true"
      (menuToggle)="drawer.toggle()"
      (logout)="logout()" />

    <div class="main-content">
      <app-content-wrapper>
        <router-outlet></router-outlet>
      </app-content-wrapper>
    </div>
  </mat-drawer-container>
} @else {
  <app-header-content
    [isMobile]="false"
    (logout)="logout()" />

  <div class="layout-with-sidebar">
    <app-side-navigation-bar (logout)="logout()" />

    <div class="main-content">
      <app-content-wrapper>
        <router-outlet></router-outlet>
      </app-content-wrapper>
    </div>
  </div>
}
