<div class="container">
  <div class="left-side">
    <img src="/assets/img/login-image.jpg" alt="Imagen de bienvenida" />
  </div>
  <div class="right-side">
    <div class="form-box">
      <div class="top-bar">
        <app-language-switcher class="custom-color"></app-language-switcher>
      </div>
      <img class="logo" src="/assets/logos/demy-blue-logo.png" alt="Imagen de bienvenida" />

      <p class="sign-up">
        <a routerLink="/signup">{{ 'login.sign-up' | translate }}</a>
      </p>

      <p class="title">{{ 'login.title' | translate }}</p>
      <p class="sub-tittle">{{ 'login.sub-title' | translate }}</p>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'login.email' | translate }}</mat-label>
          <input matInput formControlName="email" type="email" required>
          <mat-icon matPrefix>email</mat-icon>

          <mat-error *ngIf="f['email']?.errors?.['required']">
            {{ 'login.errors.required' | translate }}
          </mat-error>

          <mat-error *ngIf="f['email']?.errors?.['email']">
            {{ 'login.errors.email' | translate }}
          </mat-error>

        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'login.password' | translate }}</mat-label>
          <input matInput formControlName="password"
                 [type]="hidePassword ? 'password' : 'text'"
                 required>
          <mat-icon matPrefix>lock</mat-icon>
          <button type="button" mat-icon-button matSuffix
                  (click)="hidePassword = !hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

          <mat-error *ngIf="f['password']?.errors?.['required']">
            {{ 'login.errors.required' | translate }}
          </mat-error>

          <mat-error *ngIf="f['password']?.errors?.['minlength']">
            {{ 'login.errors.minlength' | translate:{requiredLength: 8} }}
          </mat-error>


        </mat-form-field>
        <mat-checkbox formControlName="remember" class="remember-me">
          {{ 'login.remember-me' | translate }}
        </mat-checkbox>

        <button mat-flat-button color="primary" class="button-color" type="submit" [disabled]="loginForm.invalid">
          {{ 'login.sign-in' | translate }}
        </button>
      </form>

      <p class="register-text">
        <a routerLink="/reset-password">{{ 'login.forgot-password' | translate }}</a>
      </p>
    </div>
  </div>
</div>
