<form #enrollmentForm="ngForm" (ngSubmit)="onSubmit()" class="enrollment-form">
  <h2>{{ editMode ? 'Editar Matrícula' : 'Registrar Matrícula' }}</h2>

  <!-- Estudiante -->
  <div class="form-row">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Estudiante</mat-label>
      <mat-select required [(ngModel)]="enrollmentRegistration.student_id" name="student_id" #studentId="ngModel">
        <mat-option *ngFor="let student of studentOptions" [value]="student.id">
          {{ student.first_name }} {{ student.last_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Periodo Académico -->
  <div class="form-row">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Periodo Académico</mat-label>
      <mat-select required [(ngModel)]="enrollmentRegistration.period_id" name="period_id" #periodId="ngModel">
        <mat-option *ngFor="let period of periodOptions" [value]="period.id">
          {{ period.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Fecha de matrícula -->
  <div class="form-row">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Fecha de Matrícula</mat-label>
      <input matInput required [(ngModel)]="enrollmentRegistration.enrollment_date" name="enrollment_date" #enrollmentDate="ngModel" type="date">
    </mat-form-field>
  </div>

  <!-- Monto -->
  <div class="form-row">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Monto</mat-label>
      <input matInput required [(ngModel)]="enrollmentRegistration.amount" name="amount" #amount="ngModel" type="number">
    </mat-form-field>
  </div>

  <!-- Estado de Matricula -->
  <div class="form-row">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Estado de Matricula</mat-label>
      <mat-select required [(ngModel)]="enrollmentRegistration.status" name="status" #status="ngModel">
        <mat-option *ngFor="let option of enrollmentStatusOptions" [value]="option.value">
          {{ option.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Estado de Pago -->
  <div class="form-row">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Estado de Pago</mat-label>
      <mat-select required [(ngModel)]="enrollmentRegistration.payment_status" name="payment_status" #paymentStatus="ngModel">
        <mat-option *ngFor="let option of paymentStatusOptions" [value]="option.value">
          {{ option.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="!enrollmentForm.valid">
      {{ isEditMode() ? 'Actualizar Matrícula' : 'Registrar Matrícula' }}
    </button>
    <button mat-button type="button" (click)="resetEditState()">Cancelar</button>
  </div>
</form>
