<mat-nav-list class="side-nav">

  <a mat-list-item >
    <mat-icon>assignment</mat-icon>
    <span>Matrícula</span>
  </a>

  <a mat-list-item>
    <mat-icon>group</mat-icon>
    <span>Alumnos</span>
  </a>

  <a mat-list-item>
    <mat-icon>payments</mat-icon>
    <span>Pagos</span>
  </a>

  <mat-divider />

  <button mat-list-item (click)="logout.emit()">
    <mat-icon>logout</mat-icon>
    <span>Salir</span>
  </button>

  <mat-divider />

  <div class="profile">
    <mat-icon>account_circle</mat-icon>
    <span class="username">Usuario</span>
  </div>
</mat-nav-list>
