<mat-nav-list class="side-nav">

  @for (option of navOptions; track option.label) {
    <a mat-list-item [routerLink]="option.route">
      <mat-icon>{{ option.icon }}</mat-icon>
      <span>{{ option.label }}</span>
    </a>
  }
    <mat-divider />

  <a mat-list-item (click)="logout.emit()">
    <mat-icon>logout</mat-icon>
    <span>Salir</span>
  </a>

  <mat-divider />

  <div class="profile">
    <mat-icon>account_circle</mat-icon>
    <span class="username">Usuario</span>
  </div>
</mat-nav-list>
