<div class="container">
  <h1 class="title">{{ 'plan-select.title' | translate }}</h1>

  <div class="top-bar">
    <app-language-switcher class="custom-color"></app-language-switcher>
  </div>

  <div class="plans-container">
    <div *ngFor="let plan of plans" class="plan-box">
      <div class="plan-subtitle">{{ ('plan-select.' + plan.subtitle) | translate }}</div>
      <div class="plan-title">{{ ('plan-select.' + plan.title) | translate }}</div>
      <p class="price">{{ ('plan-select.' + plan.price) | translate }}</p>
      <hr />
      <ul>
        <li *ngFor="let benefit of plan.benefits">
          <div class="bullet-box"></div> {{ ('plan-select.' + benefit) | translate }}
        </li>
      </ul>
      <button mat-flat-button (click)="selectPlan(plan)">
        {{ 'plan-select.button.select' | translate }}
      </button>
    </div>
  </div>
</div>
