<form #studentForm="ngForm" (ngSubmit)="onSubmit()" class="student-form">
    <h2>{{ editMode ? 'student.form.title-edit' : 'student.form.title-new' | translate }}</h2>

    <div class="form-row">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ 'student.form.dni' | translate }}</mat-label>
            <input matInput required [(ngModel)]="student.dni" name="dni" #dni="ngModel" maxlength="8" pattern="[0-9]{8}">
            @if (dni.invalid && (dni.dirty || dni.touched)) {
                <mat-error>{{ 'student.form.dni-error' | translate }}</mat-error>
            }
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ 'student.form.first-name' | translate }}</mat-label>
            <input matInput required [(ngModel)]="student.firstName" name="first_name" #firstName="ngModel">
            @if (firstName.invalid && (firstName.dirty || firstName.touched)) {
                <mat-error>{{ 'student.form.first-name-required' | translate }}</mat-error>
            }
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ 'student.form.last-name' | translate }}</mat-label>
            <input matInput required [(ngModel)]="student.lastName" name="last_name" #lastName="ngModel">
            @if (lastName.invalid && (lastName.dirty || lastName.touched)) {
                <mat-error>{{ 'student.form.last-name-required' | translate }}</mat-error>
            }
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ 'student.form.sex' | translate }}</mat-label>
            <mat-select required [(ngModel)]="student.sex" name="sex" #sex="ngModel">
                @for (option of sexOptions; track option.value) {
                    <mat-option [value]="option.value">
                        {{ option.viewValue }}
                    </mat-option>
                }
            </mat-select>
            @if (sex.invalid && (sex.dirty || sex.touched)) {
                <mat-error>{{ 'student.form.sex-required' | translate }}</mat-error>
            }
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ 'student.form.birth-date' | translate }}</mat-label>
            <input matInput required [(ngModel)]="student.birthDate" name="birth_date" #birthDate="ngModel" type="date">
            @if (birthDate.invalid && (birthDate.dirty || birthDate.touched)) {
                <mat-error>{{ 'student.form.birth-date-required' | translate }}</mat-error>
            }
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ 'student.form.address' | translate }}</mat-label>
            <input matInput required [(ngModel)]="student.address" name="address" #address="ngModel">
            @if (address.invalid && (address.dirty || address.touched)) {
                <mat-error>{{ 'student.form.address-required' | translate }}</mat-error>
            }
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ 'student.form.phone' | translate }}</mat-label>
            <input matInput required [(ngModel)]="student.phoneNumber" name="phone_number" #phoneNumber="ngModel" pattern="[0-9]{9}">
            @if (phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)) {
                <mat-error>{{ 'student.form.phone-error' | translate }}</mat-error>
            }
        </mat-form-field>
    </div>

    <div class="form-actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="!studentForm.valid">
            {{ isEditMode() ? 'student.form.update' : 'student.form.save' | translate }}
        </button>
        <button mat-button type="button" (click)="onCancel()">
            {{ 'student.form.cancel' | translate }}
        </button>
    </div>
</form>
