<div class="container">
  <div class="left-side">
    <div class="form-box">
      <div class="top-bar">
        <app-language-switcher class="custom-color"></app-language-switcher>

      </div>

      <img class="logo" src="/assets/logos/demy-blue-logo.png" alt="Imagen de bienvenida" />
      <p class="title">{{ 'signUp.title' | translate }}</p>
      <p class="sub-tittle">{{ 'signUp.subTitle' | translate }}</p>
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="form">
        <input type="text" formControlName="name" [placeholder] = "'signUp.name' | translate" required />
        <input type="text" formControlName="academyName" [placeholder] = "'signUp.academyName' | translate" required />
        <input type="number" formControlName="ruc" [placeholder] = "'signUp.ruc' | translate" required />
        <input type="email" formControlName="email" [placeholder] = "'signUp.email' | translate" required />
        <input type="password" formControlName="password" [placeholder] = "'signUp.password' | translate" required />

        <div class="terms-me">
          <label class="terms-label">
            <input type="checkbox" formControlName="terms" />
            <span>{{ 'signUp.termsMe' | translate }}</span>
          </label>
        </div>
        <button mat-flat-button class="button-color" type="submit" >{{ 'signUp.register' | translate }}</button>
      </form>

    </div>
  </div>
  <div class="right-side">
    <img src="/assets/img/sign-up-image.jpg" alt="Imagen de bienvenida" />
  </div>
</div>
