<div class="recover-box mat-elevation-z4">
  <div class="top-bar">
    <app-language-switcher class="custom-color"></app-language-switcher>
  </div>

  <h1 class="title">{{ 'recover-password.title' | translate }}</h1>
  <p class="subtitle">{{ 'recover-password.subtitle' | translate }}</p>

  <mat-form-field appearance="fill" class="email-input">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="email" type="email" />
  </mat-form-field>


  <button mat-raised-button color="primary" class="send-btn" (click)="goToNext()">
    {{ 'recover-password.send' | translate }}
  </button>


  <button mat-stroked-button class="back-btn" (click)="goToLogin()">
    {{ 'recover-password.back' | translate }}
  </button>
</div>
